<template>
    <MainLayout>
        <createAndEditCourse />
    </MainLayout>
</template>

<script setup>
import MainLayout from "@/layout/MainLayout.vue";
import createAndEditCourse from "@/components/Course/CreateAndUpdateCourse.vue"
</script>