<template>
    <MainLayout>
        <h1 class="d-flex justify-content-center">404 Not Found</h1>
    </MainLayout>
</template>

<script setup>
import MainLayout from '@/layout/MainLayout.vue';

</script>